.collectionCard {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: rgba(7, 7, 7, 0.6);
    overflow: hidden;
    margin: 0 20px 20px 0;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.collectionCard:last-child {
    margin-right: 0;
}

.collectionCard:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 767px) {
    .collectionCard {
        width: calc(50% - 10px);
        margin-right: 10px;
    }
}

@media (max-width: 480px) {
    .collectionCard {
        width: 90%;
    }
}

.collectionLink {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.collectionImage {
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.collectionName {
    font-size: 1.2rem;
    font-weight: bold;
    color: #ffffff;
    margin: 12px 16px 8px;
}

.collectionDescription {
    font-size: 0.9rem;
    color: #c7c6c6;
    margin: 0 16px 12px;
}

.collectionCard:focus-within {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    outline: none;
}

.collectionCard:focus-within .collectionLink,
.collectionCard:hover .collectionLink {
    text-decoration: underline;
}

.collectionImage:hover img {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}